*, :after, :before {
    box-sizing: border-box;
    padding: 0;

}


@import 'variables'; // If both files are in the same directory

@font-face {
    font-family: "Tiempos";
    src: url('/TiemposHeadlineWeb-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: "Inter";
    src: url('/Inter-Bold.ttf') format('ttf');
    src: url('/Inter-SemiBold.ttf') format('ttf');
    src: url('/Inter-Medium.ttf') format('ttf');
    src: url('/Inter-Regular.ttf') format('ttf');
    src: url('/Inter-Thin.ttf') format('ttf');
}

// Define mixins for theme
@mixin light-theme {
  --bg-color: #{$color-light-bg};
  --title-color: #{$color-light-title};
  --text-color: #{$color-light-text};
  --accent-color: #{$color-light-accent};
  --divider-color: #{$color-light-divider};
}

@mixin dark-theme {
  --bg-color: #{$color-dark-bg};
  --title-color: #{$color-dark-title};
  --text-color: #{$color-dark-text};
  --accent-color: #{$color-dark-accent};
  --divider-color: #{$color-dark-divider};
}

// Apply themes to body
body.light {
  @include light-theme;
}

body.dark {
  @include dark-theme;
}
// End darktheme

body {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
    color: var(--text-color);
    padding: 0rem 2rem 2rem 2rem;
    background-color: var(--bg-color);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/* Small devices (phones) */
@media (max-width: 600px) {

}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 900px) {

}

/* Large devices (desktops) */
@media (min-width: 901px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops) */
@media (min-width: 1201px) {

}




.backgroundnoise{
    position:fixed;
    width:100%;
    height:100%;
    background-image: url('/images/texture.png');
    background-repeat: repeat;
    background-size: 180px 100px;
/*    mix-blend-mode: color-dodge;*/
    opacity: 0.5;
    left:0;
}


#main{
position: relative;
z-index: 1; /* Ensure this content stays on top */
}




//Headings
h1 { font-size: 2.0rem; }   /* 16px x 2   = 32px */
h2 { font-size: 1.0rem; } /* 16px x 1.5 = 24px */
h3 { font-size: 0.75rem; }   /* 16px x 1   = 16px */


// Reset the line-heights and margins
h1{
    line-height: 1.2em; /* relative to font size */
    font-family: Tiempos, serif;
    color: var(--title-color);
    letter-spacing: -0.02em;
}

h2,
h3 {
//    font-weight: normal;
    line-height: 1em; /* relative to font size */
    font-family: Tiempos, serif;
    color: var(--title-color);
    font-weight: 600;
//    background-color: red;
    padding-top: 2.5rem;
}


.article-summary {
    font-size: 1.2em; /* Slightly larger font size */
    line-height: 2rem;
    color: var(--text-color);
    margin-bottom: 1.5em; /* Space below the summary */
}



h1,
h2,
h3,
p,
a{
    margin: 0 0 0.5rem 0; /* relative to base font-size */
}


h1{
    padding-bottom: 0.75rem;
}

h2{
//    padding-bottom: 0.50rem;
//    color: green;
}

h3{
    padding-bottom: 0.25rem;
    
}


img {
    display: block;
    max-width: 100%;
    max-height: 30rem;
    border-radius: 4px;
}

figure{
    margin: 1.5rem 0 1.5rem 0;
    font-size: 0.75rem;
}


figcaption{
//    background-color: red;
    padding-top: 0.25rem;
    text-align: center;
    color: #966C2C;
}



.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  //margin: 1.5rem 0;
  background: #fff;
  //color: white;
  //padding: 1.5rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}



.sticky {
  position: -webkit-sticky;
  position: sticky; top: 0;
    z-index: 1;
    
}


.link {
	//white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
//    text-decoration: none;

}

.time {
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}

blockquote {
    border-left: 1px solid #fff;
    color: #fff;
    padding-left: 1rem;
    margin: 0;
    margin-top: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-style: italic;
//    background-color: red;
//    border-radius: 80px;

}





a,
a:visited {
    color: inherit;
        text-decoration: inherit underline;
}

a:hover,
a.heading-link {
    // text-decoration: none;
    opacity: .70;
    
}

pre {
    padding: .5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
}

code, pre {
    font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console","DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: normal;
    font-size: small;
    background: #fff
}

code {
    margin: .1rem;
    border: none;
}

ul {
    list-style-type: "—  ";
}

li::marker {
    color: #F8BC61;
}

section ul{
//    background-color: red;
    padding-bottom: 1.5rem;


}

section li{
//    background-color: red;
//    padding-bottom: 1.5rem;
//    background-color: yellow;
    margin-bottom: 0.5rem;
}


ul, ol {
//    padding-left: 1.2rem;
    padding-inline-start: 26px;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: .1rem;
}

.meta {
    color: #fff
}

.content {
    max-width: 56ch; // was 70;
    margin: 0 auto;
    // text-align: justify;
}



//header {
//    //display: flex;
//    //justify-content: space-between;
//    padding-top: 1rem;
//    margin-bottom: 2rem;
//    height: 4rem;
////    line-height: 2;
////    padding-bottom: 1.5rem;
//    color: white;
//    background-color: #000;
////    backdrop-filter: blur(16px);
////    backdrop-filter: blur(16px);
////    -webkit-backdrop-filter: blur(16px);
//    border-bottom: 1px solid #ffffff20;
////    backdrop-filter: invert(80%);
//}




header {
//    line-height: 2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
//    height: 4rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--divider-color);
//  backdrop-filter: blur(16px);
//  backdrop-filter: blur(16px);
//  -webkit-backdrop-filter: blur(16px);
}

header a {
    text-decoration: none;
    font-weight: 500;
}

header ul {
    list-style-type: none;
    padding: 0;
    //border-right: 1px solid #edf2f7;

}

header li, header a {
    //margin-bottom: .2rem;
    //text-align: right;
    //margin-right: 2rem;
    display: inline;
}

h2.post {
    padding-top: .5rem;
}

header ul a:first-child {
    padding-left: 1rem;
}

.nav {
    height: 1px;
    background: #000;
    content: '';
    max-width: 10%;
}

.list li {
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    flex: 1 0 1rem;
}

.m,
hr {
    height: 1px;
    background-color: var(--divider-color);;
    border: none;
    margin: 2rem 0;
}


.post-date {
    margin: 2rem 0 1rem;
    color: var(--accent-color);
    font-size: 0.75rem;
    letter-spacing: 0.24em;
    text-transform: uppercase;

}

.index-date {
    color: #fff;
}

.animate-blink {
    animation: opacity 2s infinite;
    opacity: 1;
    font-size: 1em;
    font-weight: 900;
    color: var(--accent-color);
    margin-left: 5px;
    filter: blur(0.2rem);
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}

.tags {
    display: flex;
    justify-content: space-between;
}

.tags ul {
    padding: 0;
    margin: 0;
}

.tags li {
    display: inline;
}

.avatar {
    height: 120px;
    width: 120px;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
}

table {
        width: 100%;
        margin-top:1.5rem;
        border-collapse: collapse;
        border-radius: 8px;
        border-style: hidden; /* hide standard table (collapsed) border */
//        box-shadow: 0 0 0 1px #000; /* this draws the table border  */ 
        margin-bottom: 1.5rem;

//    background-color: #fff;
    
}

th{
    color: var(--text-color);
}

th, td {
    border: 1px solid var(--divider-color);
    text-align: left;
    padding: 8px;
    border-radius: 8px;
}

th {
        border-radius: 8px;
}

footer {
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  flex-direction: column; /* Ensures content stacks vertically */
  margin-top: 8rem;
    margin-bottom: 2rem;
  width: 100%; /* Ensures footer takes full width */
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
//    text-transform: uppercase;

}

footer a {
    text-decoration: none;
    font-weight: 500;
}

footer ul {
    list-style-type: none;
    padding: 0;
    //border-right: 1px solid #edf2f7;

}

footer li, footer a {
    //margin-bottom: .2rem;
    //text-align: right;
    //margin-right: 2rem;
    display: inline;
}


/* The Modal (background) */
.md__image {
    cursor: pointer;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-color);
    backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    opacity: 0; /* Initial opacity */
    transition: opacity 0.2s ease-in-out; /* Transition for opacity */
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 100%;
    max-width: 1400px;
    opacity: 0; /* Initial opacity */
    transition: opacity 0.2s ease-in-out; /* Transition for opacity */
    transition-delay: 0.2s; /* Start 1 second after the first box */
  }


  
  /* When the modal is visible */
  .modal.show {
    display: block;
    opacity: 1; /* Fade-in effect */
  }
  
  .modal-content.show {
    opacity: 1; /* Fade-in effect */
  }
  
  .modal-pic {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  


/* The Close Button */
/* Optimized for accessibility by using a button named close but 
  shifting the close text out of the button and only showing x */
.modal-close {
    color: rgba(255, 255, 255, 0);
    display: none;
    opacity: 0px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 2em;
    font-weight: 100;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
  }
  
  .modal-close::after {
    position: absolute;
    display: none;
    opacity: 0px;
    line-height: 0.5;
    top: 0.2em;
    left: 0.1em;
    text-indent: 0;
    content: "\00D7"
  }
  
  .modal-close:hover,
  .modal-close:focus {
    display: none;
    opacity: 0px;
    color: #99999900;
    text-decoration: none;
    cursor: pointer;
  }




  /* styles for floated images in post pages */
img[src$='#float-left'],
img[src$='#float-left-vert'],
img[src$='#left'],
img[src$='#float-left-60'],
img[src$='#float-left-50'],
img[src$='#float-left-40'] {
  float: left;
  margin-bottom: 1em;
  margin-top: 0em;
}

img[src$='#float-right'],
img[src$='#float-right-vert'],
img[src$='#right'],
img[src$='#float-right-60'],
img[src$='#float-right-50'],
img[src$='#float-right-40'] {
  float: right;
  margin-bottom: 1em;
  margin-top: 0em;
}

img[src$='#float-left'],
img[src$='#float-left-vert'],
img[src$='#float-left-40'] {
  margin-right: .7em;
}

img[src$='#float-right'],
img[src$='#float-right-vert'],
img[src$='#float-right-40'] {
  margin-left: .7em;
}

img[src$='#left'] {
  max-width: 32.5%;
}

img[src$='#right'] {
  max-width: 32.5%;
}

img[src$='#center'] {
  display: block;
  margin: auto;
  max-width: 32.5%;
  margin-bottom: 1em;
  margin-top: 0em;
}

img[src$='#float-left'] { 
  max-width: 50%;
}

img[src$='#float-left-vert'] { 
  max-width: 30%;
}

img[src$='#float-right'] {
  max-width: 50%;
}

img[src$='#float-right-vert'] {
  max-width: 30%;
}

@media (min-width: 650px) {
  img[src$='#float-left'],
  img[src$='#float-right'] {
    max-width: 45%;
  }
}

@media (min-width: 800px) {
  img[src$='#float-left'],
  img[src$='#float-right'] {
    max-width: 40%;
  }
}

img[src$='#float-left-60'] {
  width: calc(60% - .35em);
}

img[src$='#float-left-50'] {
  width: calc(50% - .35em);
  padding-right: .35em;
}

img[src$='#float-left-40'] {
  width: calc(40% - .35em);
}

img[src$='#float-right-60'] {
  width: calc(50% - .35em);
}

img[src$='#float-right-50'] {
  width: calc(50% - .35em);
  padding-left: .35em;
}

img[src$='#float-right-40'] {
  width: calc(40% - .35em);
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}


  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: var(--text-color);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

svg {
    color : var(--text-color);
}


#theme-toggle{
    margin-left: 1rem;
}



#theme-toggle :hover {
    // text-decoration: none;
    opacity: .70;
    
}