// _variables.scss

// Define color variables for light and dark themes
$color-light-bg: #E9E7E2;
$color-light-title: #000;
$color-light-text: #615A47;
$color-light-accent: #DC8638;
$color-light-divider: #D3D0C5;

$color-dark-bg: #000000;
$color-dark-title: #fff;
$color-dark-text: #9C9C9C;
$color-dark-accent: #DC8638;
$color-dark-divider: #333333;