// _variables.scss

// Define color variables for light and dark themes
$color-light-base: #fff;
$color-light-title: #000;
$color-light-text: #615A47;
$color-light-accent: #DC8638;
$color-light-divider: #EBEBEB;
$color-light-hover: #dcdcdc;

$color-dark-base: #000000;
$color-dark-title: #fff;
$color-dark-text: #9C9C9C;
$color-dark-accent: #DC8638;
$color-dark-divider: #1F1F1F;
$color-dark-hover: #1a1a1a;