<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      {{ .Content }}
      {{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
      <!-- <h2>Latest Post</h2> -->
      <section>
        {{ range (first 3 (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse) }}
          <p>
            <time class="g time" datetime="{{ dateFormat "January 2, 2006" .Date }}">{{ dateFormat "January 2, 2006" .Date }}</time>&nbsp;
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>
        {{ end }}
      </section>
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </main>
  <div class="noise"></div>
</body>
</html>
